section {
  margin-top: 28px;
  margin-left: 38px;
}
p {
  color: red;
  background-color: yellow;
  font-size: 30px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  padding-top: 21px;
  padding-left: 20px;
  padding-bottom: 15px;
  width: 220px;
  margin-bottom: 10px;
  margin-top: 10px;
}
